/* everything inside body */
#all {
  /* center text inside box */
  text-align: center;
}

#navi {
  margin: 30px;
}

a.navitem {
  color: black;
}

#content {
  margin: 60px;
}

#msg {
  margin: 30px;
}
