/* everything inside body */
#all {
  /* center text inside box */
  text-align: center;
}

#navi {
  position:absolute;
  top:10px;
  left:10px;
}

a.navitem {
  color: black;
}

#content {
  margin: 90px;
}

#about {
  text-align: left;
}

#msg {
  margin: 30px;
}

#thanks {
  position:absolute;
  bottom:50px;
  right:50px;
}

